<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top">
      <div class="container">
        <!-- logo -->
        <h1>
          <a class="navbar-brand" href="index.html">
            <img src="./assets/images/DOYOGA-logo.png" alt="DOYOGA-logo" width="96" height="31">
          </a>
        </h1>
        <!-- toggler -->
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- collapse -->
        <div class="collapse navbar-collapse position-lg-absolute start-50 translate-lg-middle-x" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link hvr-underline-from-left" href="classes.html">課程介紹</a>
            <a class="nav-link hvr-underline-from-left" href="room.html">瑜珈空間</a>
            <a class="nav-link hvr-underline-from-left" href="timetable.html">當月課表</a>
            <div class="d-lg-none">
              <a href="reservation.html" class="btn btn-info text-white rounded-pill me-4">立即預約</a>
              <a href="contactus.html" class="btn btn-outline-info rounded-pill">聯絡我們</a>
            </div>
          </div>
        </div>
        <!-- button pill -->
        <div class="d-none d-lg-block">
          <a href="reservation.html" class="btn btn-outline-info rounded-pill me-4">立即預約</a>
          <a href="contactus.html" class="btn btn-outline-info rounded-pill">聯絡我們</a>
        </div>
      </div>
    </nav>
    <!-- hero -->
    <% if(current == 'index'){ %>
    <div class="bg-hero">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-md-8 offset-lg-1 col-lg-5 text-dark">
            <p>健身輕時尚</p>
            <h1>DOYOGA，做你的瑜珈</h1>
            <h2 class="h4 mb-4">多給自己一點時間享受靜謐，傾聽內心的聲音。</h2>
            <div>
              <a href="reservation.html" class="btn btn-secondary text-dark me-2">立即預約</a>
              <a href="classes.html" class="btn btn-primary text-white">課程介紹</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <%- contents %>

    <!-- footer -->
    <footer class="bg-primary text-white pt-6 pb-8 pt-md-8">
      <div class="border-bottom pb-6 pb-md-8 mb-6 mb-md-8">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <!-- 現在訂閱 -->
              <p class="fs-4 fs-md-3 mb-2 mb-lg-0">現在訂閱，獲得課程優惠碼！</p>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- 訂閱input -->
              <div class="input-group">
                <input type="text" class="form-control w-75 w-md-auto" placeholder="輸入您的電子信箱">
                <button class="btn btn-info text-white w-25 w-md-auto" type="submit">訂閱</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container position-relative">
        <nav class="navbar navbar-dark mb-2">
          <!-- logo -->
          <a href="index.html">
            <img src="./assets/images/DOYOGA.png" alt="DOYOGA-logo" width="96" height="31">
          </a>
          <!-- 社群連結 -->
          <ul class="list-unstyled navbar-nav flex-row">
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="fab fa-facebook fs-4"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="fab fa-instagram fs-4"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="fab fa-line fs-4"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- 頁面連結 -->
        <ul class="list list-light">
          <li class="list-item">
            <a class="list-link" href="classes.html">課程介紹</a>
          </li>
          <li class="list-item">
            <a class="list-link" href="room.html">瑜珈空間</a>
          </li>
          <li class="list-item">
            <a class="list-link" href="timetable.html">當月課表</a>
          </li>
        </ul>
        <!-- copyright -->
        <p class="position-md-absolute bottom-0 start-50 translate-md-middle-x">© 2021. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- fixed-link -->
    <div class="position-fixed top-25 end-0 me-4 z-index-1030 d-none d-lg-block">
      <a href="#" class="menu-link">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="menu-link">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="menu-link">
        <i class="fab fa-line"></i>
      </a>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script> 
  </body>

</html>