.bg-hero{
    background-image: url(../images/bg.jpeg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 560px;
    @include media-breakpoint-up(md) {
        height: 582px;
    }
}